Package: mcollective
Section: base
Priority: optional
Architecture: all
Depends: mcollective-common, ruby, rubygems
Maintainer: Chris Read <chris.read@gmail.com>
Description: Application Server for hosting Ruby code on any capable middleware
  The Marionette Collective:
  Server for the mcollective Application Server
