#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
BUILD_ROOT=$(CURDIR)/debian/tmp
RUBY_LIBDIR=$(shell /usr/bin/ruby -rrbconfig -e 'puts RbConfig::CONFIG["vendordir"]')
PLUGINDIR=/usr/share/mcollective/plugins
DOCDIR=$(BUILD_ROOT)/usr/share/doc/mcollective

install/mcollective::
	/usr/bin/ruby install.rb --destdir=$(CURDIR)/debian/tmp --no-rdoc --sitelibdir=$(RUBY_LIBDIR) --ruby=/usr/bin/ruby --plugindir=$(PLUGINDIR)
	mkdir -p $(DOCDIR)
	cp -a doc/* $(DOCDIR)

binary-fixup/mcollective::
	chmod 640 $(CURDIR)/debian/mcollective/etc/mcollective/server.cfg
