topicprefix = /topic/mcollective
daemonize = 0
libdir = plugins
logfile = /dev/null
loglevel = info

# Plugins 
securityprovider = psk
plugin.psk = unset

connector = stomp
plugin.stomp.host = stomp.your.com
plugin.stomp.port = 6163
plugin.stomp.user = mcollective
plugin.stomp.password = marionette

factsource = yaml
plugin.yaml = /etc/facts.yaml

# Agent config
