# main config
topicprefix = /topic/mcollective
libdir = /usr/libexec/mcollective
logfile = /dev/null
loglevel = debug
identity = @@hostname@@

# connector plugin config
connector = stomp
plugin.stomp.host = @@server@@
plugin.stomp.port = 6163
plugin.stomp.user = mcollective
plugin.stomp.password = @@mcollective_password@@

# security plugin config
securityprovider = psk
plugin.psk = @@psk@@
