[Unit]
Description=The Marionette Collective
After=network.target

[Service]
Type=forking
StandardOutput=syslog
StandardError=syslog
ExecStart=/opt/puppetlabs/agent/bin/mcollectived --config=/etc/puppetlabs/agent/mcollective/server.cfg --pidfile=/var/run/mcollective.pid --daemonize
ExecReload=/bin/kill -USR1 $MAINPID
PIDFile=/var/run/mcollective.pid

[Install]
WantedBy=multi-user.target
