			<div class="span-3">
				&nbsp;
			</div>
			<div class="span-3">
				<a href="/">Home</a>
			</div>
			<div class="span-3">
				<a href="http://code.google.com/p/mcollective/issues/list">Bugs</a>
			</div>
			<div class="span-3">
				<a href="http://github.com/mcollective">GitHub</a>
			</div>
			<div class="span-3">
				<a href="http://code.google.com/p/mcollective/downloads/list">Files</a>
			</div>
			<div class="span-3 last">
				<a href="http://groups.google.com/group/mcollective-users">User List</a>
			</div>

