#logostrip { background-color: #000000; color: #FFFFFF; padding-top: 0.5em; }
#logostrip h1, h4 { color: #FFFFFF; }

#menustrip { background-color: #376396; color: #FFFFFF}
#menustrip {height: 2.2em; font-size: 1.5em; padding-top:0.6em;}
#menustrip a {color:#FFFFFF; text-decoration:none; font-weight: bold;}
#menustrip a:hover {color:#FFFFFF; text-decoration: underline; cursor: pointer; }

#footerstrip { background-color: #EAE6E6; text-align:center; font-size:0.9em; color:#000000; padding-top: 2em; padding-bottom: 2em;}
#footerstrip a {color:#000000; text-decoration:none; font-weight: bold}
#footerstrip a:hover {color:#000000; font-weight: bold}

#bodycontent {padding-top: 20px; font-size:1.2em;}
#bodycontent h1 {text-decoration:none; font-weight:bold; font-size:1.5em; color: #000000;}
#bodycontent h2 {text-decoration:none; font-weight:bold; font-size:1.2em; color: #000000;}
#bodycontent h3 {text-decoration:none; font-weight:bold; font-size:1em; color: #000000;}
#bodycontent h4 {text-decoration:none; font-weight:bold; font-size:0.8em; color: #000000;}
#bodycontent iframe { width: 100% }

#disqus {border-top:1px solid #eee; padding-top: 20px;}
#topheader {padding-top: 20px;}

#sidebar { padding-left: 1em; border-left:1px solid #eee;}
#sidebar h3 {font-size:1.4em; font-weight:normal; margin:24px 0 8px 0;}
#sidebar ul {margin:0px; padding:0px;}
#sidebar li {list-style:none; padding:1px 0 1px 12px; background:url(/images/mcollective/li.png) 0px 8px no-repeat;}
#sidebar a {color:#CC385E; text-decoration:none; font-weight: normal}
#sidebar a:hover {color:#CC385E; cursor: pointer; text-decoration: underline; font-weight: normal}


a {color:#376396; font-weight: bold}
a:hover { text-decoration: underline; color:#376396; cursor: pointer; font-weight: bold}

table { border-collapse: collapse; font-size: 0.8em;}
th { border-bottom: 1px solid #000; padding: 0 0.5em; text-align: left; background:#EEE;}
th+th { border-left: 1px solid #CCC; background:#EEE; }
thead th { border-bottom: 1px solid #000; padding: 0 0.5em; text-align: left; background:#EEE;}
thead th+th { border-left: 1px solid #CCC; background:#EEE; }
td { border-top: 1px dotted #CCC; padding: 0 0.5em; }
td+td { border-left: 1px dotted #CCC; }

.highlight {overflow: auto; }
code { font-size: 0.8em; }

.lineno { color: #CCC; }
